DB_HOST=0.0.0.0
DB_PORT=0000
DB_USERNAME=00
DB_PASSWORD=X
DB_DATABASE=XX

JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=15m

PORT=3000
NODE_ENV=development

# VAPID keys for Web Push. Generate with: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=BMUZ0M2GH1OvkRj4YnP0BQ4qSqdREaUXPrnlbiMGa-MBeGBBECX7RbgYnZdTG0tFbmRR6KSeIDqVzM77YqLtNJU
VAPID_PRIVATE_KEY=JWPhPe4HHyH2COwCuKl0rMxO9rfaok-fXCacvjg1vBs
VAPID_SUBJECT=mailto:admin@example.com
